/*body {*/
    /*background: ;*/
/*}*/

/*footer {*/
    /*background: #99A89E;*/
/*}*/

/*This controls the interior space of the form, where data is entered into the text box*/
.form-container {
    width: 410px;
    height: 410px;
    padding: 20px;
    background-color: #E6E0DF;
}

.form {
    height: 500px;
    width: 500px;
    background-color: darkred;
}

